# Environment
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://chawlahimani2611:Zxcvbnm098%40%40@salary-management.jd4eifl.mongodb.net/salary-management?retryWrites=true&w=majority

# CORS
CORS_ORIGIN=http://localhost:5173
